body {
    font-family: Arial, sans-serif;
    background-color: #1f1f2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #2c2c3a;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #5c5cff;
}

p {
    margin-bottom: 20px;
    color: #d0d0e1;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    background-color: #3a3a4f;
    color: #fff;
    font-size: 14px;
}

input:focus {
    outline: none;
    background-color: #4b4b63;
}

button, .botao-link {
    width: 95%;
    padding: 10px;
    background-color: #5c5cff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

button:hover, .botao-link:hover {
    background-color: #4444ff;
}

.voltar a {
    color: #5c5cff;
    text-decoration: none;
    font-weight: bold;
}

.voltar a:hover {
    text-decoration: underline;
}
