{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'contas/css/cadastro.css' %}">
    <title>Página de Cadastro</title>
</head>
<body>
    <div class="container">
        <h2>Cadastre-se</h2>
        <form method="post">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" placeholder="Entre com o seu login" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

            <label for="opcao">Selecione o status desejado:</label>
            <select id="opcao" name="opcao">
                <option value="doador">Doador</option>
                <option value="receptor">Destinatário</option>
            </select>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
<script src="{% static 'contas/js/cadastro.js' %}"></script>
</body>
</html>